[submodule "lib/ros_msgs/rcl_interfaces"]
	path = lib/ros_msgs/rcl_interfaces
	url = https://github.com/ros2/rcl_interfaces.git
[submodule "lib/ros_msgs/common_interfaces"]
	path = lib/ros_msgs/common_interfaces
	url = https://github.com/ros2/common_interfaces.git
