demos/image_filtering/ros_image_example
demos/image_filtering/_build/application/main.o
demos/image_filtering/_build/lib/comp/ros_pub.o
demos/image_filtering/_build/lib/comp/ros_sub.o
demos/image_filtering/_build/lib/comp/ros.o

demos/image_filtering/build.sw/

*.pyc

*.o

demos/*/build.sw/
demos/*/build.hw/

demos/*/server_app/build.sw/
demos/*/server_app/build.hw/
demos/*/server_app/build.msg/
demos/*/client_app/client_app

demos/*/client_app_x86/build
demos/*/client_app_x86/install
demos/*/client_app_x86/include
demos/*/client_app_x86/log
demos/*/client_app/build.sw/
demos/*/client_app/build.hw/
demos/*/client_app/build.msg/



demos/*/client_app/sorter_msgs/build
demos/*/client_app/sorter_msgs/install
demos/*/client_app/sorter_msgs/include
demos/*/client_app/sorter_msgs/log


tools/arm-docker-build/Docker/qemu-arm-static


