<<reconos_preproc>>

<<generate for CLOCKS>>
NET "reconos_clk_<<Id>>" TNM_NET = "NET_reconos_clk_<<Id>>";
TIMESPEC TS_reconos_clk_<<Id>> = PERIOD "NET_reconos_clk_<<Id>>" <<ActFreqKHz>> kHz;
<<end generate>>

#TIMEGRP "reconos_clk" = "reconos_clk_<<SYSCLK>>";
#TIMESPEC TS_01 = FROM "reconos_clk_<<SYSCLK>>" TO "reconos_clock_clk" TIG;
#TIMESPEC TS_02 = FROM "reconos_clock_clk" TO "reconos_clk_<<SYSCLK>>" TIG;