#
# General settings
#
#   Name            - name of your application
#   TargetBoard     - board to run your application on
#                       zedboard
#   TargetPart      - part to run you application on
#   ReferenceDesign - reference design template
#                       timer
#   TargetOS        - operating system to use
#                       linux
#   TargetXil       - xilinx tools to use
#                       vivado,2017.1
#                       vivado,2016.2
#                       ise,14.7
#   TargetHls       - HLS synthesis tool to use
#   SystemClock     - clock of the ReconOS system (defined below)
#   CFlags          - additional flags for compilation
#   LdFlags         - additional flags for linking
#
[General]
Name = SortDemo
TargetBoard = zcu104,0
TargetPart = xczu7ev-ffvc1156-2-e
CPUArchitecture = arm64
ROS2Distribution = dashing
ReferenceDesign = hwtopics
TargetOS = linux64
TargetXil = vivado,2018.2
TargetHls = vivado,2018.2
SystemClock = System
CFlags = 
LdFlags = 


#
# Clock definition [Clock@<clock_name>]
#
#   ClockSource - static or dynamic clock
#                   static
#                   dynamic
#   ClockFreq   - initial clock frequency
#
[Clock@System]
ClockSource = static
ClockFreq = 100000000

[Clock@Threads]
ClockSource = dynamic
ClockFreq = 100000000


#
# Specification of hardware thread slots [Thread@<slot_name>(<id_range>)]
#
#   Id               - id of the slot
#   Clock            - clock connected to the slot
#
[HwSlot@SortDemo(0:0)]
Id = 0
Clock = Threads

[HwSlot@SortDemo2(0:0)]
Id = 1
Clock = Threads

#
# Resource definition [ResourceGroup@<group_name>]
#
#   <resource_name> - type,<optional arguments>
#
[ResourceGroup@Resources]
Address = mbox,128
Acknowledge = mbox,128
start_mbox = mbox, 64
sort_msg = rosmsg, sensor_msgs ,msg ,Image
node_1 = rosnode, "mynodename"
#SubData = rossub, node_1,sort_msg, "unsorted", 10000
PubData = rospub, node_1,sort_msg, "sorted"


[ResourceGroup@Resources2]
Address = mbox,128
Acknowledge = mbox,128
finish_mbox = mbox, 64
sort_msg = rosmsg, sensor_msgs ,msg ,Image
node_1 = rosnode, "mynodename2"
SubData = rossub, node_1,sort_msg, "sorted", 10000
#PubData = rospub, node_1,sort_msg, "sorted"


#
# Specification of thread types [ReconosThread@<thread_name>]
#
#   Slot          - slot to implement the hardware thread in
#                     <slot_name>(<id>)
#   HwSource      - source of the hardware thread
#                     vhdl
#                     hls
#   SwSource      - source of the software thread
#                     c
#   ResourceGroup - resources of the hardware thread
#                     <group_name>
#
[ReconosThread@SortDemo]
Slot = SortDemo(*)
HwSource = hls
#SwSource = c
ResourceGroup = Resources


[ReconosThread@SortDemo2]
Slot = SortDemo2(*)
HwSource = hls
#SwSource = c
ResourceGroup = Resources2
