#
# General settings
#
#   Name            - name of your application
#   TargetBoard     - board to run your application on
#                       zedboard
#   TargetPart      - part to run you application on
#   ReferenceDesign - reference design template
#                       timer
#   TargetOS        - operating system to use
#                       linux
#   TargetXil       - xilinx tools to use
#                       vivado,2017.1
#                       vivado,2016.2
#                       ise,14.7
#   TargetHls       - HLS synthesis tool to use
#   SystemClock     - clock of the ReconOS system (defined below)
#   CFlags          - additional flags for compilation
#   LdFlags         - additional flags for linking
#
[General]
Name = SortDemo
#TargetBoard = zedboard,d
TargetBoard = zcu104,0
#TargetPart = xc7z020clg484-1
TargetPart = xczu7ev-ffvc1156-2-e
CPUArchitecture = arm64
ROS2Distribution = dashing
ReferenceDesign = hwtopics
TargetOS = linux64
TargetXil = vivado,2018.2
TargetHls = vivado,2018.2
SystemClock = System
#CFlags = -I $(RECONOS)/linux/tools/timer
#LdFlags = -L $(RECONOS)/linux/tools/timer -ltimer


#
# Clock definition [Clock@<clock_name>]
#
#   ClockSource - static or dynamic clock
#                   static
#                   dynamic
#   ClockFreq   - initial clock frequency
#
[Clock@System]
ClockSource = static
ClockFreq = 100000000

[Clock@Threads]
ClockSource = dynamic
ClockFreq = 120000000


#
# Specification of hardware thread slots [Thread@<slot_name>(<id_range>)]
#
#   Id               - id of the slot
#   Clock            - clock connected to the slot
#

[HwSlot@SlotThreada(0:0)]
Id = 0
Clock = Threads

[HwSlot@SlotThreadb(0:0)]
Id = 1
Clock = Threads

# [HwSlot@SlotThreadc(0:4)]
# Id = 2
# Clock = Threads

#
# Resource definition [ResourceGroup@<group_name>]
#
#   <resource_name> - type,<optional arguments>
#

[ResourceGroup@RThread0]
tmp = mbox, 128

[ResourceGroup@RThreada]
img_output = rosmsg, sensor_msgs ,msg ,Image
node_1 = rosnode, "nodeofthread2"

PubData = rospub, node_1,img_output, "outputtopic"

SubData = rossub, node_1,sensor_msgs/Image, "nicehwtopic", 10000, hw

#PubData2 = rospub, node_1,sensor_msgs/Image, "verynicehwtopic", hw




[ResourceGroup@RThreadb]
img_input = rosmsg, sensor_msgs ,msg ,Image
node_1 = rosnode, "nodeofthread1"

SubData = rossub, node_1,img_input, "inputopic", 10000

PubData = rospub, node_1,sensor_msgs/Image, "nicehwtopic", hw

#SubData2 = rossub, node_1,sensor_msgs/Image, "verynicehwtopic", 10000, hw

[ResourceGroup@RThreadc]

node_1 = rosnode, "nodeofthread3"

#SubData = rossub, node_1,sensor_msgs/Image, "nicehwtopic", 10000, hw



#
# Specification of thread types [ReconosThread@<thread_name>]
#
#   Slot          - slot to implement the hardware thread in
#                     <slot_name>(<id>)
#   HwSource      - source of the hardware thread
#                     vhdl
#                     hls
#   SwSource      - source of the software thread
#                     c
#   ResourceGroup - resources of the hardware thread
#                     <group_name>
#


[ReconosThread@aThreada]
Slot = SlotThreada(*)
#HwSource = vhdl
HwSource = hls
ResourceGroup = RThreada


[ReconosThread@aThreadb]
Slot = SlotThreadb(*)
#HwSource = vhdl
HwSource = hls
ResourceGroup = RThreadb

# [ReconosThread@aThreadc]
# Slot = SlotThreadc(*)
# #HwSource = vhdl
# HwSource = hls
# ResourceGroup = RThreadc
