#
# General settings
#
#   Name            - name of your application
#   TargetBoard     - board to run your application on
#                       zedboard
#   TargetPart      - part to run you application on
#   ReferenceDesign - reference design template
#                       timer
#   TargetOS        - operating system to use
#                       linux
#   TargetXil       - xilinx tools to use
#                       vivado,2017.1
#                       vivado,2016.2
#                       ise,14.7
#   TargetHls       - HLS synthesis tool to use
#   SystemClock     - clock of the ReconOS system (defined below)
#   CFlags          - additional flags for compilation
#   LdFlags         - additional flags for linking
#
[General]
Name = SortDemo
TargetBoard = zedboard,d
TargetPart = xc7z020clg484-1
ReferenceDesign = timer
TargetOS = linux
TargetXil = vivado,2016.2
TargetHls = vivado,2016.2
SystemClock = System
CFlags = -I $(RECONOS)/linux/tools/timer
LdFlags = -L $(RECONOS)/linux/tools/timer -ltimer


#
# Clock definition [Clock@<clock_name>]
#
#   ClockSource - static or dynamic clock
#                   static
#                   dynamic
#   ClockFreq   - initial clock frequency
#
[Clock@System]
ClockSource = static
ClockFreq = 100000000

[Clock@Threads]
ClockSource = dynamic
ClockFreq = 120000000


#
# Specification of hardware thread slots [Thread@<slot_name>(<id_range>)]
#
#   Id               - id of the slot
#   Clock            - clock connected to the slot
#
[HwSlot@SortDemo(0:1)]
Id = 0
Clock = Threads

#
# Resource definition [ResourceGroup@<group_name>]
#
#   <resource_name> - type,<optional arguments>
#
[ResourceGroup@Resources]
Result = mbox,128
sort_srv = rossrvmsg, sorter_msgs ,srv ,Sort 
node_1 = rosnode, "sorterclient"
srv = rossrvc, node_1, sort_srv, "sorter", 10000

#
# Specification of thread types [ReconosThread@<thread_name>]
#
#   Slot          - slot to implement the hardware thread in
#                     <slot_name>(<id>)
#   HwSource      - source of the hardware thread
#                     vhdl
#                     hls
#   SwSource      - source of the software thread
#                     c
#   ResourceGroup - resources of the hardware thread
#                     <group_name>
#
[ReconosThread@SortDemo]
Slot = SortDemo(*)
#HwSource = vhdl
HwSource = hls
SwSource = c
ResourceGroup = Resources
